@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

// FOOTER

footer {
    @include colores-bloque($color-principal, $color-blanco);

    h3 {
        color: $color-secundario;
    }

    ul {
        @include lista-limpia;

        a {
            color: $color-blanco;

            &:hover {
                color: $color-secundario;
            }
        }
    }
}