@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

// HERO

.hero {
    background-color: $color-secundario;

    h2 {
        color: $color-terciario;
    }

    img {
        @include imagen-redondeada($radio-grande);
    }

    .btn {
        margin-right: $espacio-pequeno;
        margin-top: $espacio-pequeno;
    }
}
