@use '../utilities/variables' as *;

// NAVBAR

.navbar{
    min-height: 9rem;
}

.logo-navbar{
    width: 20rem;
}

.nav-link{
    color: $color-blanco;
    font-family: $fuente-secundaria;
    font-size: $texto-base;
    margin-left: $espacio-mediano;
}

.navbar-nav .nav-link.active{
    color: $color-secundario;
}

.navbar-toggler{
    border-color: $color-secundario;
}

.navbar-toggler-icon{
    filter: invert(1);
}

// PSEUDOCLASES

.nav-link:hover{
    color: $color-secundario;
}