@use '../utilities/variables' as *;


// NAVBAR

.navbar {
    min-height: 9rem;

    .navbar-toggler {
        border-color: $color-secundario;
    }

    .navbar-toggler-icon {
        filter: invert(1);
    }
}

.logo-navbar {
    width: 20rem;
    transition: transform 0.3s;

    &:hover {
        transform: translateY(-5px) scale(1.03);
    }
    animation: aparecer 1s ease-out;
}

.navbar-nav {
    .nav-link {
        color: $color-blanco;
        font-family: $fuente-secundaria;
        font-size: $texto-base;
        margin-left: $espacio-mediano;

        &:hover,
        &:focus {
            color: $color-secundario;
        }

        &.active {
            color: $color-secundario;
        }
    }
}