//VARIABLES

//colores
$color-fondo: #F5F2EF;
$color-principal: #111A26;
$color-secundario: #BFB1A4;
$color-terciario: #735646;
$color-blanco: #FFFFFF;

//TEXTO
//Fuentes
$fuente-principal: "Roboto", sans-serif;
$fuente-secundaria: "Lato", sans-serif;
//Tamaños de fuente
$texto-base: 1.7rem;
$texto-secundario: 1.6rem;

//ESTILOS GENERALES
//Radio
$radio-pequeno: 0.4rem;
$radio-mediano: 0.6rem;
$radio-grande: 0.8rem;
//Espaciados
$espacio-pequeno: 1rem;
$espacio-mediano: 1.5rem;
$espacio-grande: 2rem;