@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

// CARDS

.card {
    background-color: $color-blanco;
    @include borde-color(1px, solid, $color-secundario);
    border-radius: $radio-mediano;
    transition: 0.3s;

    &:hover {
        transform: translateY(-5px);
    }

    .card-body {
        padding: 2.5rem;
    }

    .card-title {
        color: $color-terciario;
    }
}