@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

// FORMULARIO DE CONTACTO

.form-label{
    color: $color-principal;
    font-family: $fuente-secundaria;
    font-weight: 700;
}

.form-control,
.form-select{
    @include borde-color(1px, solid, $color-secundario);
    font-size: $texto-secundario;
    padding: $espacio-pequeno;
}

// PSEUDOCLASES

.form-control:focus,
.form-select:focus{
    border-color: $color-terciario;
    box-shadow: 0 0 0 0.2rem rgba($color-terciario, 0.2);
}